/* Light */
:root {
    --background-color: white;
    --link-color: rgb(34, 81, 112);
    --text-color: rgb(31, 31, 31);
}


body {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: auto;
}

main {
    margin-inline: 1rem;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

nav a {
    color: var(--background-color);
    text-decoration: none;
}

nav a:focus,
nav a:hover {
    text-decoration: underline;
}
